/*======================================*/
/*            L A Y O U T               */
/*======================================*/
body>.sapUiHidden {
	overflow: auto !important;
}

body section {
	background: #F7F7F7;
}

body section>.sapUiHLayout:first-child>.sapUiHLayoutChildWrapper {
	display: block;
}

body section>.sapUiHLayout:first-child {
	margin: 0 auto !important;
	display: block !important;
}

/*CONTENEDOR DE TABLAS Y LISTAS*/
.zppm_body_main .inicioContainer, .zppm_body_main .zppm_HL_Offerts,
	.zppm_body_main .zppm_HL_Proyects {
	width: 100% !important;
	max-width: 1200px;
}

@media all and (max-width:68.75em) {
	body section>.sapUiHLayout:first-child {
		margin: 0 auto !important;
		display: block !important;
	}
}

/*======================================*/
/*         F I N    L A Y O U T         */
/*======================================*/

/*======================================*/
/*            H E A D E R               */
/*======================================*/
@media all and (max-width:30.063em) {
	.fila-superior {
		display: block;
	}
	.zppm_ROW_OffertsMain .fila-superior .sapMFlexItem label {
		font-size: 14px;
	}
	.sapMListUl .zppm_ROW_OffertsMain {
		padding: 15px 0 15px 0px !important;
	}
	.zppm_CG_ProjectsMain .datos-personales {
		display: block;
	}
	.subfila .zppm_labelOferta_REJ, .subfila .zppm_labelOferta_PRS {
		background-size: 25px auto;
		padding: 6px 0 6px 25px !important;
		display: block;
	}

	/*LISTA DE PROYECTOS*/
	.tabla-proyectos .sapMListUl .zppm_ROW_OffertsMain {
		padding: 5px 0 !important;
	}
	.zppm_body_main .tabla-proyectos .zppm_aux .sapMFlexBoxAlignContentStretch>.sapMFlexItem .zppm_labelOferta_Desc
		{
		font-size: 14px;
	}
	.zppm_body_main .tabla-proyectos .zppm_aux .sapMFlexBoxAlignContentStretch+.sapMFlexItem label
		{
		font-size: 12px;
	}
	.tabla-proyectos .zppm_aux>.sapMFlexBoxAlignContentStretch {
		margin-right: 0;
	}
	.tabla-proyectos .zppm_aux>.sapMFlexBoxAlignContentStretch>div div {
		display: block;
		width: 100% !important;
	}
	.tabla-proyectos .zppm_aux>.sapMFlexBoxAlignContentStretch>div div label
		{
		margin: 0 !important;
	}
	.tabla-interior-proyectos .subfilaproyectos>.sapMFlexItem:first-child+div+div+div+div .zppm_GAVAN_ProjectsRow svg
		{
		width: 40px !important;
		height: 40px !important
	}
	.zppm_body_main .zppm_GAVAN_ProjectsRow svg {
		display: none;
	}
	.tabla-proyectos .zppm_aux .project-inf-cabecera>div:first-child {
		width: 40%;
	}
	.tabla-proyectos .zppm_aux .project-inf-cabecera>div {
		width: 50%;
	}
}

@media all and (max-width: 68.75em) {
	body .zppm_ToolHeader_Image {
		width: 100% !important;
		padding: 10px 0;
		text-align: center;
	}
	.zppm_ToolHeader_Image .sapUiHLayoutChildWrapper {
		display: block;
		text-align: center;
	}
	.header.sapUiHLayout {
		display: block;
	}
	.header .sapUiHLayoutChildWrapper {
		display: block;
	}
	.zppm_Offertas_Superior, .zppm_Proy_Superior, .fondo-superior {
		margin-top: 116px;
	}
}

/*======================================*/
/*         F I N   H E A D E R          */
/*======================================*/

/*======================================*/
/*            I N I C I O               */
/*======================================*/
@media all and (max-width: 37.5em) {
	/*CAJAS DE LAS LISTAS*/
	.zppm_body_main .verticalbox {
		margin: 0;
		width: 90% !important;
		display: block;
		margin: 50px auto;
	}
	/*CONTENEDOR DE INICIO*/
	.zppm_body_main .inicioContainer, .zppm_body_main .zppm_HL_Offerts,
		.zppm_body_main .zppm_HL_Proyects {
		width: 100% !important;
		display: block;
		margin: 0;
		border: none;
		padding-top: 1px;
	}
	/*BOTONES*/
	.zppm_HL1_OffertsMain div.sapUiHLayoutChildWrapper:first-child+div+div {
		display: block;
		text-align: center;
	}
	.zppm_HL1_OffertsMain div.sapUiHLayoutChildWrapper:first-child+div+div button
		{
		float: none !important;
		margin: 0 !important;
		position: relative;
		right: unset;
	}
}

@media ( min-width : 37.5em) and (max-width: 68.75em) {
	/*CAJAS DE LAS LISTAS*/
	.zppm_body_main .verticalbox {
		margin: 0;
		width: 100% !important;
		display: block;
		margin: 50px auto;
		max-width: 525px;
	}
	/*CONTENEDOR DE INICIO*/
	.zppm_body_main .inicioContainer, .zppm_body_main .zppm_HL_Offerts,
		.zppm_body_main .zppm_HL_Proyects {
		width: 90% !important;
		display: block;
		margin: -50px auto;
	}
	/*BOTONES*/
	.zppm_HL1_OffertsMain div.sapUiHLayoutChildWrapper:first-child+div+div {
		display: inline-block;
		text-align: center;
	}
	.zppm_HL1_OffertsMain div.sapUiHLayoutChildWrapper:first-child+div+div button
		{
		float: right !important;
		margin-lrft: 130px !important;
	}
}
/*======================================*/
/*         F I N  I N I C I O           */
/*======================================*/

/*======================================*/
/*         P R O Y E C T O S            */
/*======================================*/
@media all and (max-width: 37.5em) {
	/*LISTAS*/
	.zppm_Offertas_Superior .sapUiHLayoutChildWrapper, .zppm_Proy_Superior .sapUiHLayoutChildWrapper
		{
		display: block;
	}
	.zppm_body_main .tabla-interior-proyectos .zppm_Proj_VB_Row {
		width: 30%;
	}
	.zppm_body_main .zppm_proyLTsBtn, .zppm_body_main .zppm_offertLTsBtn {
		position: relative;
		margin: 0 auto;
		display: block;
		bottom: 10px;
		left: 0;
		rigth: 0;
	}
}

@media all and (max-width: 68.75em) {
	/*CONTENEDOR DE LA LISTA Y TABLA*/
	.zppm_HL_Proyects>.sapUiHLayoutChildWrapper {
		display: block;
		width: 100%;
	}
	/*LISTADO*/
	.zppm_HL_Proyects .zppm_CG_Proyects {
		display: block;
		margin: 50px auto !important;
		width: 90%;
		min-width: unset;
	}
	/*TABLA*/
	.wrapper-detalle-proyecto {
		max-width: 100%;
		margin: 25px auto;
	}
}

@media ( min-width : 1101px) and (max-width: 1200px) {
	/*CONTENEDOR DE LA LISTA*/
	.zppm_HL_Offerts .zppm_CG_Offerts, .zppm_HL_Proyects .zppm_CG_Proyects {
		margin: 25px 15px !important;
	}
}

@media all and (max-width: 48em) {
	.zppm_projDetail_subinfo {
		display: block !important;
	}
	/*DATOS ANTES DE TABLA*/
	.zppm_HL_Proyects .wrapper-detalle-proyecto .zppm_Proj_info {
		height: auto;
		float: none;
	}
	.zppm_Proj_info_inside .zppm_projDetail_subinfo>div {
		width: 100% !important;
		vertical-align: top;
		display: inline-block !important;
		padding: 10px 0;
		text-align: center !important;
		border-bottom: 1px solid #ccc;
	}
	.zppm_Proj_info_inside .zppm_GAVAN_Projects_detail svg {
		height: auto !important;
	}

	/*CABECERA DE LA TABLA*/
	.zppm_HL_Proyects .zppm_Proj_header .sapMText {
		font-size: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.zppm_HL_Proyects .sapMListTblHeader th {
		margin: 10px 0 !important;
		padding: 10px 0;
		font-size: 10px;
	}

	/*CONTENIDO*/
	.zppm_HL_Proyects .zppm_LT_descrp {
		font-size: 12px !important;
	}
	.zppm_HL_Proyects .datos-responsable {
		display: block;
	}
	.zppm_HL_Proyects .contenido-tabla .name_resp, .zppm_HL_Proyects .contenido-tabla .id_resp
		{
		font-size: 10px !important;
	}
	.zppm_HL_Proyects .wrapper-detalle-proyecto .contenido-tabla td {
		padding: 10px 0;
	}
	.zppm_HL_Proyects .wrapper-detalle-proyecto .contenido-tabla .fech_trabj
		{
		font-size: 10px !important;
	}
	.zppm_HL_Proyects .zppm_GAVAN_Projects .sapSuiteRMCNeutralTextColor {
		width: 33px !important;
	}
	.zppm_HL_Proyects .vertical-button .sapMBtnInner {
		border: none;
		min-width: 20px;
		background: none;
		width: 30px;
	}
}

/*======================================*/
/*       F I N   P R O Y E C T O S      */
/*======================================*/

/*======================================*/
/*           O F E R T A S              */
/*======================================*/
@media all and (max-width: 37.5em) {
	/*LISTADO*/
	.zppm_body_main .zppm_CG_Offerts .zppm_Proj_VB_Row {
		width: 30%;
	}

	/*TABLA OFERTAS*/
	.fila-superior>div {
		width: 50% !important;
		display: inline-block;
	}
	.fila-superior>div:first-child {
		width: 35% !important;
	}
	.fila-superior>div:first-child+div {
		margin: 0 5px;
	}
}

@media all and (max-width: 48em) {
	/*TABLA*/
	.wrapper-detalle-oferta .zppm_Offert_info_inside>.sapMFlexItem {
		display: block;
		text-align: center;
	}
	.wrapper-detalle-oferta .zppm_Offert_info_inside>.sapMHBox:first-child div:first-child+div
		{
		text-align: center;
		display: block;
		width: 100 !important%;
	}
	.zppm_body_main .wrapper-detalle-oferta .zppm_Offert_info_inside .zppm_offertDetail_subinfo>div
		{
		width: 100% !important;
		vertical-align: top;
		display: block !important;
		padding: 10px 0;
		text-align: center !important;
		border-bottom: 1px solid #ccc;
	}
	.zppm_HL_Offerts .datos-responsable {
		display: block;
	}
	.wrapper-detalle-oferta .contenido-tabla thead th {
		padding: 10px 5px !important;
		text-transform: uppercase;
	}
	.zppm_body_main .wrapper-detalle-oferta .contenido-tabla tbody td .sapMText
		{
		font-size: 10px !important;
	}
	.zppm_HL_Offerts .wrapper-detalle-oferta .contenido-tabla td {
		padding: 10px 0 !important;
	}
	.zppm_HL_Offerts .wrapper-detalle-oferta .contenido-tabla td img,
		.contenido-tabla.zppm_Proj_header td img {
		max-width: 80%;
		height: auto;
	}
	.wrapper-detalle-oferta .contenido-tabla tbody td:first-child+td img {
		width: 20px;
		height: auto;
		margin-left: -10px;
	}
}

/*LISTADO*/
@media ( max-width : 68.75em) {
	.zppm_HL_Offerts .zppm_CG_Offerts {
		display: block;
		margin: 50px auto !important;
		min-width: unset;
	}
	.zppm_HL_Offerts>.sapUiHLayoutChildWrapper {
		display: block;
		width: 100%;
	}

	/*TABLA*/
	.wrapper-detalle-oferta {
		max-width: 100%;
		margin: 25px auto;
	}
}

/*======================================*/
/*       F I N   O F E R T A S          */
/*======================================*/