/* Enter your custom styles here */
/*estilos*/
.letraBlaca{
	color:yellow;	
}
.letraGris{
	color:gray;
	font-size:20px;
}

.orange{
	background-color:#ffce3b;
}

.blue{
	background-color:#4473c5;
}