.imagen_tren {
    background: url('images/trenes-tematicos-renfe-2016.jpg');
}

.oculto {
    display: none;
}
.GrisGrand{
	color:gray;
	font-size:20px;
	font-weight: bold;
}
.letraBlaca{
	color:white;
	font-weight: bold;
}

#__header0-pinBtn {
	display:none;
}